{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}

{% block contenu %} <h1>Bienvenue sur Guy Mollet Shop</h1>
    <h3>Bienvenue chez nous</h3>
    <a href='index.php?page=listeproduitpdf' target="_blank">Télécharger le catalogue<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
{% endblock %} 